
html, body {
    height: 100%;
    margin: 0em;
    padding: 0em;
    background-color: #313131;
    color: #d9d9d9;
    font: 22px "Courier New", Courier, monospace;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forms{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#votes {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hashtags {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: horizontal;
}

#results {
    font-size: medium;
    padding: 1em;
    margin: 1em;
}

#columnchart_material {
    width: 800px;
    height: 600px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #666666;
}
